<div class="container">
    <h3>Staff Details</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Update</th>

            </tr>
        </thead>
        <tbody *ngIf="result">
            <tr *ngFor="let i of result">
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td><button class="btn btn-primary" [routerLink]="['/staff-update/',i.id]">Update</button></td>
                <!-- <td><button class="btn btn-secondary" (click)="deleteProduct(i.id)">Delete</button></td> -->
            </tr>
        </tbody>

    </table>
    <button class="btn btn-success" routerLink="/staff-create">Add New Staff</button>
</div>

