<div class="container" style="margin-top: 50px;">
    <h3>Edit Staff Details</h3>
    <form *ngIf="selectedUser" #editData="ngForm" (ngSubmit)="editUser(editData)">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" 
          class="form-control"
          ngModel 
          id="name"
          name="name" 
          #name="ngModel"
          [ngModel]="selectedUser.name"
          >
          
          <label for="email">Email</label>
          <input type="email" 
          class="form-control"
          ngModel 
          id="email"
          name="email" 
          #email="ngModel"
          [ngModel]="selectedUser.email"
          >
          
        </div>
        <div style="text-align: center;">
        <button type="submit" class="btn btn-warning">Update</button>
      </div>
      </form>
</div>

