<div class="container" style="margin-top: 50px;">
    <h3>Manager's Menu</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">About</th>
                <th scope="col">Availability</th>
                <th scope="col">Price</th>
                <th scope="col">Update Food Products</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody *ngIf="menuData">
            <tr *ngFor="let i of menuData[0].foodProducts">
                <td>{{i.name}}</td>
                <td>{{i.type}}</td>
                <td>{{i.about}}</td>
                <td>{{i.availability}}</td>
                <td>{{i.price}}</td>
                <td><button class="btn btn-outline-warning" [routerLink]="['/edit-menu/',i.id]">Update</button></td>
                <td><button class="btn btn-outline-danger" (click)="deleteProduct(i.id)">Delete</button></td>
            </tr>
        </tbody>

    </table>
    
</div>
<div style="text-align: center;">
    <button class="btn btn-info" routerLink="/add-foodProduct">Add New Product</button>
</div>