<div class="container">
    <h3>Menu</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">About</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of staffMenuData[0].foodProducts | menuFilter">
                <td>{{i.id}}</td>
                <td>{{i.name}}</td>
                <td>{{i.type}}</td>
                <td>{{i.about}}</td>
                <td>{{i.price}}</td>
                <input type="text" style="margin: 10px;" ngModel id="quantity" name="quantity" #quantity="ngModel"
                    placeholder="Enter Quantity">
                <td><button class="btn btn-secondary" (click)="addItem(i.id,quantity)">Add Item</button></td>
            </tr>
        </tbody>
    </table>
</div>