<div class="container">
    <h3>New Staff Details</h3>
    <form #addData="ngForm" (ngSubmit)="addUser(addData)">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" 
          class="form-control"
          ngModel 
          id="name"
          name="name" 
          #name="ngModel"
          placeholder="Staff Name"
          >
          
          <label for="email">Email</label>
          <input type="email" 
          class="form-control"
          ngModel 
          id="email"
          name="email" 
          #email="ngModel"
          placeholder="Please Provide Staff Email"
          >

          <label for="password">Password</label>
          <input type="password" 
          class="form-control"
          ngModel 
          id="password"
          name="password" 
          #password="ngModel"
          placeholder="Set a Password"
          >
          
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
