<div class="container" style="margin-top: 50px;">
  <h3 >Welcome to Frying Nemo!</h3>
  <form #data="ngForm" (ngSubmit)="loginUser(data)">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" ngModel id="email" name="email" #email="ngModel" placeholder="User Email">

      <label for="password">Password</label>
      <input type="password" class="form-control" ngModel id="password" name="password" #password="ngModel"
        placeholder="Enter Password">

    </div>
<div style="text-align: center;">
    <button type="submit" class="btn btn-success" >Login</button>
  </div>
  </form>
</div>